@model PagedList.IPagedList<BOOK.Models.SACH>

@using BOOK.Models
@using PagedList.Mvc
@using PagedList

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div id="templatemo_content_right">
    <ul>
        @foreach (var sach in Model)
        {
            <li>
                <div class="templatemo_product_box">
                    <h1>@sach.Tensach</h1>
                    <img alt="@sach.Tensach" src="~/Hinhsanpham/@sach.Anhbia" />
                    <div class="product_info">
                        <p>Etiam luctus. Quisque facilisis suscipit elit. Curabitur...</p>
                        <h3>@sach.Giaban</h3>
                        <a href="@Url.Action("Details", "Default", new { id = sach.Masach })">View Details</a>
                    </div>
                    <div class="cleaner"></div>
                </div>
            </li>
        }
    </ul>
    <div>
    Trang @(Model.PageNumber) / @(Model.PageCount)
    <div class="Menu Trang">
        @Html.PagedListPager(Model,page=>Url.Action("Index",    new {page=page}))
    </div>
    <style>
        .Menu li{
            display:inline;
            margin:10px;
        }
    </style>
</div>
