@model PagedList.PagedList<BOOK.Models.SACH>
@using BOOK.Models
@using PagedList.Mvc
@helper Truncate(string input, int length)
{
    if (string.IsNullOrEmpty(input))
    {
        @: // NULL
    }
    else if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}


@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Sach</h2>

<p>
    @Html.ActionLink("Thêm mới", "Themoisach")
</p>

<table class="table" border="1" >
    <tr>
        <th style="width:200px">Tên sách</th>
        <th style="width:100px">Giá bán</th>
        <th style="width:300px">Mô tả</th>
        <th style="width:120px">Ảnh bìa</th>
        <th style="width:150px">Ngày cập nhật</th>
        <th style="width:120px">SL.Tồn</th>
        <th style="width:120px">Tên chủ đề</th>
        <th style="width:100px">Tên NXB</th>
        <th style="width:200px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:left; white-space:nowrap;">@Html.DisplayFor(modelItem => item.Tensach)</td>
            <td style="text-align:left; white-space:nowrap;">@Html.DisplayFor(modelItem => item.Giaban)</td>
            <td style="text-align:left; max-width:300px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;">
                @Truncate(item.Mota, 100)
            </td>
            <td style="text-align:center;">
                <img src="@Url.Content("~/Hinhsanpham/"+item.Anhbia)" alt="Ảnh bìa" style="width:80px; height:auto;" />
            </td>
            <td style="text-align:center; white-space:nowrap;">@Html.DisplayFor(modelItem => item.Ngaycapnhat)</td>
            <td style="text-align:center; white-space:nowrap;">@Html.DisplayFor(modelItem => item.Soluongton)</td>
            <td style="text-align:left; white-space:nowrap;">@Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)</td>
            <td style="text-align:left; white-space:nowrap;">@Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)</td>


            <td style="text-align:center; white-space:nowrap;">
                @Html.ActionLink("Sửa", "Suasach", new { id = item.Masach }) |
                @Html.ActionLink("Chi tiết", "Chitietsach", new { id = item.Masach }) |
                @Html.ActionLink("Xóa", "Xoasach", new { id = item.Masach })
            </td>
        </tr>
    }
</table>


@*Tao lien ket cac trang*@


  Trang @(Model.PageNumber) / @(Model.PageCount)
<div class="Menu Trang">
    @Html.PagedListPager(Model, page => Url.Action("Sach", new { page = page }))
</div>
<style>
    .Menu li {
        display: inline;
        margin: 10px;
    }
</style>